.ant-input,
.ant-input-affix-wrapper {
    border: 1px solid #ccc; 
    padding: 10px;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.ant-input:focus,
.ant-input-focused,
.ant-input-affix-wrapper:focus-within {
    border-color: #7A5CFA !important;
    box-shadow: 0 0 0 1px #7A5CFA !important; 
}

.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled){
    box-shadow: 0 0 0 1px #ff4d4f;
}

.ant-form-item-label label {
    font-size: 12px;
    font-weight: 600;
    color: #666666 !important;
}

.ant-select-selector {
    height: 42px !important;
    background: transparent !important;
    border: 1px solid #c4c4c4 !important;
}

.ant-select-selector:hover{
    box-shadow: 0 0 0 1px #7A5CFA !important; 
}

.ant-select-arrow {
    margin-top: 0 !important;
    color: #7A5CFA !important;
}

.ant-input-outlined, 
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled),
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-checked) .ant-checkbox-inner,
.ant-radio-wrapper .ant-radio-inner 

 {
    background: transparent;
    border: 1px solid #c4c4c4  !important;
}

.ant-btn{
    width: 172px;
    height: 56px;
    border-width: 1px;
    padding: 16px;
    gap: 10px;
    border-radius: 8px;
    
}

.ant-btn.ant-btn-color-default {
    border: 1px solid #7A5CFA !important;
    color: #7A5CFA !important;
}