@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.frame-home {
  width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 83px;
  padding-right: 83px;
}

body {
  background-color: #192026;
}